<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Shop
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <!-- Searchbar -->
  
  <ion-searchbar showcancelbutton="" (ionInput)="filterList($event)" ></ion-searchbar>
  <ion-list lines="none">
    <ion-item [routerLink]="['product-detail', item.id]" *ngFor="let item of itemList">
      <ion-label class="ion-text-wrap">

        <ion-thumbnail slot="start">
          <img [src]="item.itemImage">
        </ion-thumbnail>
        <ion-label>
          {{item.itemName}}
          <p>{{item.itemPrice | currency: 'EUR'}}</p>
          <p>category: {{item.itemCategory}}</p>
        </ion-label>

      </ion-label>
    </ion-item>
  </ion-list>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openCart()">
      <div class="cart-length">{{ cartItemCount | async}}</div>
      <ion-icon name="cart" class="cart-icon"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <!-- Routes to details page of clicked product -->
    <ion-item [routerLink]="['product-detail', p.id]" button *ngFor="let p of products | async">

      <ion-thumbnail slot="start">
        <img [src]="p.itemImage">
      </ion-thumbnail>
      <ion-label>
        {{p.itemName}}
        <p>{{p.itemPrice | currency: 'EUR'}}</p>
        <p>category: {{p.itemCategory}}</p>
      </ion-label>

    </ion-item>
  </ion-list>

</ion-content>

